@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --intro-background: #1c2431;
  --main-background: #181f2a;
  --bg-testimonials: #202a3c;
  --bg-footer: hsl(216, 53%, 9%);
  --cyan: #65e2d9;
  --blue: #339ecc;
  --light-red: #ff4242;
  --white: #ffffff;
  font-size: 14px;
}

body {
  align-items: center;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.bg-intro {
  background: var(--intro-background);
  box-shadow: 0 0 0 100vmax var(--intro-background);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  z-index: -2;
}

.bg-main {
  background: var(--main-background);
}

.bg-footer {
  background: var(--bg-footer);
  box-shadow: 0 0 0 100vmax var(--bg-footer);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--main-background);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  position: relative;
}
.container .navigation {
  align-items: center;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container .navigation .nav-logo {
  margin-right: auto;
  font-size: 1.5em;
}
.container .navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0 20px;
}
.container .navigation li a {
  color: white;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.container .navigation li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container .intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.container .intro .wave {
  position: absolute;
  top: 383px;
  left: -350px;
  line-height: 0;
  z-index: -1;
}
.container .intro .wave svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 380px;
}
.container .intro .illustration {
  width: 85%;
}
.container .intro .heading {
  width: 644px;
}
.container .intro .subheading {
  width: 644px;
}
.container .intro .started-btn {
  border: none;
  background: var(--cyan);
  background: linear-gradient(157deg, var(--cyan), var(--blue));
  border-radius: 30px;
  color: white;
  font-weight: 700;
  padding: 1rem 4rem;
  margin-top: 1rem;
  transition: all 1s;
}
.container .intro .started-btn:hover {
  cursor: pointer;
  background: linear-gradient(157deg, var(--blue), var(--cyan));
  font-size: 1.5rem;
  padding: 1rem 5rem;
}
.container .background {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-position: center;
  background-size: 100%;
  height: 400px;
}
.container .features {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 10rem;
  width: 900px;
  flex-wrap: wrap;
}
.container .features .feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.container .features .feature h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.container .features .feature p {
  margin: 0;
}
.container .features .feature .icon {
  width: 15%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.container .working {
  display: flex;
  gap: 3rem;
}
.container .working .left {
  width: 600px;
}
.container .working .right {
  width: 500px;
}
.container .working .right .heading {
  width: 275px;
}
.container .working .right .subheading {
  line-height: 1.5;
}
.container .working .right .link {
  color: var(--cyan);
}
.container .socialproof {
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-top: 170px;
  padding-bottom: 200px;
  gap: 2rem;
}
.container .socialproof .quote {
  position: absolute;
  top: 135px;
  z-index: -1;
  width: 50px;
  height: 42px;
}
.container .socialproof .item {
  width: 356px;
  background-color: var(--bg-testimonials);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding-right: 25px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.container .socialproof .item .user {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.container .socialproof .item .user img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.container .socialproof .item .user .name {
  font-size: 1rem;
  font-weight: 700;
}
.container .socialproof .item .user .name .position {
  font-weight: 400;
  font-size: 0.75rem;
}
.container .early-access {
  align-items: center;
  background-color: var(--intro-background);
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 260px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 275px;
  width: 860px;
  position: absolute;
  text-align: center;
  z-index: 4;
}
.container .early-access .heading {
  font-size: 2rem;
}
.container .early-access .subheading {
  width: 630px;
}
.container .early-access .email {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 1rem;
  width: 715px;
}
.container .early-access .email .email-input {
  border-radius: 25px;
  padding-left: 1rem;
  width: 470px;
}
.container .early-access .email .email-input {
  border: none;
}
.container .early-access .email .submit {
  background: var(--cyan);
  background: linear-gradient(157deg, var(--cyan), var(--blue));
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
}
.container .footer {
  background-color: var(--bg-footer);
  padding-top: 15rem;
}
.container .footer .footer-info {
  align-items: center;
  display: flex;
  gap: 4rem;
}
.container .footer .footer-info .location {
  width: 330px;
}
.container .footer .footer-info ul {
  list-style: none;
}
.container .footer .footer-info ul li:hover {
  cursor: pointer;
  font-weight: 700;
}
.container .footer .footer-info img {
  padding-right: 7px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 375px;
  }
}/*# sourceMappingURL=styles.css.map */